<div id="<%= dom_id page %>" class="container bg-light topPadding pb-2">




<header class="masthead bg-light text-center">
  <div class="container d-flex align-items-center flex-column">
    
  	<h1 class="masthead-heading text-uppercase mb-0">Harmony Club of Worcester</h1>
  </div>
  
  <hr>
  <p class="fs-6 fw-bold"><%= page.content %></p>


</header>

    </div>