<div id="<%= dom_id photo_album %>">
<div class="card" style="width: 18rem;">
  <div class="card-header">
    <h5 class="card-title"><%= photo_album.title%></h5>
  </div>
  <img src= <%= photo_album.imagelink %> class="card-img-top">
    <div class="card-body">
    <p class="card-text"><%= photo_album.description %></p>
  </div>
</div>
</div>