<div class = "row">
<div class= "col text-center m-5 ">
<img  src = " https://harmonyclubofworcester.org/assets/hcwLogo-b78312cdba5ec1b95f3c1ea372c49ae8bbc2f1940f53cfc3acda2312efacbc58.png ">
</div>
<h1 class= "text-uppercase text-center">harmony club of worcester</h1>
</div>
<div class= "row">
<div class= "col ">
<img class="img-fluid w-75 " src="https://harmonyclubofworcester.org/assets/wavingFlagAmerican-46e877879cc1df60e7f53ec5f8908192c1a33717e03360b0f00fbe2be0c12d74.gif">
</div>
<div class="col ">
<img class="img-fluid w-75 " src="https://harmonyclubofworcester.org/assets/wavingFlagFrench-83474be93ec025b4fe7ca41558e59ce2eb5b7e6b1ab238d6d5cc5b5509a8565e.gif">
</div>
<div class= "col ">
<img class="img-fluid w-75" src="https://harmonyclubofworcester.org/assets/wavingFlagCanadian-1d87effd4bb24e356b9441419eeeffb2d7e1b662e55b12422e5310d5b93e4230.gif">
</div>
</div>
