<div class="container bg-light topPadding pb-2">
      


  <div class="row">
    <div class="col">
        <%= link_to "Sections(Administrators Only)", sections_path, class: "nav-link" %>
    </div>
    <div class="col">
    <%= link_to "Pages(Administrators Only)", pages_path, class: "nav-link" %>    
    </div>
    <div class="col">
      <%= link_to "Events(Administrators Only)", events_path, class: "nav-link " %>
    </div>
  </div>

    </div>